.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 10;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
}

@include mobile {
  .backdrop {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  width: 100%;
  height: auto;
  padding: 30px;
  background-color: var(--bcg-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 320px) and (max-width: 479px) {
    width: 100%;
    height: fit-content;
    max-width: 450px;
    max-height: 100vh;
  }

  @include mobile {
    width: 320px;
  }
  @include desktop {
    width: 550px;
    padding: 50px;
  }

  &__title {
    font-family: var(--title-ff);
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: var(--title-color);

    @include desktop {
      line-height: 1.22;
    }
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 15px;
  cursor: pointer;
  background-color: var(--bcg-color);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: border-color 350ms ease-in-out;

  &:hover, &:focus{
    border-color: var(--title-color);
  }


  &:hover .buy-close-icon,
  &:focus .buy-close-icon {
    fill: var(--title-color);
  }

  @include desktop {
    top: 15px;
    right: 25px;
  }
}

.buy-close-icon{
  fill:#907E82;
  transition: fill 350ms ease-in-out;
}

.modal .icon:not(:first-child) {
  fill: var(--mob-menu-color);
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  .input__field:focus + & {
    color: var(--title-color);
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  position: relative;
  &__field {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: 1px solid transparent;
    cursor: pointer;
  }
}

.input__field:focus {
  border-color: var(--accent-color);
}

.form__name,
.form__phone,
.form__order {
  width: 100%;
}

.form__name,
.form__phone,
.form__order {
  margin-bottom: 20px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 1.16;
  color: var(--text-color-secondary);
  letter-spacing: 0.03em;
}

.input__field:focus {
  border-color: var(--title-color);
}

.send-btn {
  border: 1px solid var(--title-color);
  border-radius: 20px;
  padding: 11px 20px;
  font-family: var(--standard-ff);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.29;
  color: #d41443;
  background-color: var(--btn-hover-color);
  transition: background-color 0.25s ease-in-out, transform 0.25s ease-in-out;

  &:hover,
  &:focus {
    background-color: var(--subtitle-color);
    transform: scale(0.9);
  }
}
