.gallery{
  background-image: linear-gradient(to bottom, #FFF5F6 20%,#E5E5E5 80%);
}

.gallery__list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  
}
.gallery__list{
    @media screen and (max-width: 767px) {
        width: 40px;
    }
}

.gallery__item-one { grid-area: 3 / 1 / 4 / 2; }
.gallery__item-two { grid-area: 2 / 2 / 3 / 3; }
.gallery__item-three { grid-area: 3 / 2 / 5 / 3; }
.gallery__item-four { grid-area: 2 / 3 / 4 / 4; }
.gallery__item-five {  grid-area: 4 / 3 / 5 / 4; }
.gallery__item-six { grid-area: 2 / 4 / 3 / 5;}
.gallery__item-seven { grid-area: 3 / 4 / 5 / 5; }
.gallery__item-eight { grid-area: 2 / 5 / 3 / 6; }
.gallery__item-nine { grid-area: 3 / 5 / 5 / 6; }
.gallery__item-ten { grid-area: 3 / 6 / 4 / 7; }


.gallery__item{
    @media screen and (max-width: 767px) {
        width: 40px;
    }
}
.gallery__item-four{
    @media screen and (max-width: 767px) {
        width: 90px;
    }
}