.advantages{
    padding-top: 60px;
    padding-bottom: 120px;
    background-color: var(--secondary-bcg-color);
}

.advantages__list {
    @include tablet {
        display: flex;
    }
    @include desktop {
        justify-content: space-between;
    }
}

.advantages__item{
    @media screen and (max-width:767px){
        margin-bottom: 32px;
    }
}
.advantages__item::before {
    content: '';
    display: block;
    height: 50px;
    background-repeat: no-repeat;
    background-position: left;
    background-color: transparent;
    margin-bottom: 16px;
    @include tablet {
        margin-bottom: 36px;
    }
    @include desktop {
        margin-bottom: 40px;
    }
}
.milc-icon::before {
    content: '';
    background-image: url('/src/images/advantages/advantages-milk-mobile-min.png');
}
.fruit-icon::before {
    content: '';
    background-image: url('/src/images/advantages/advantages-fruit-mobile-min.png');
}
.lollipop-icon::before {
    content: '';
    background-image: url('/src/images/advantages/advantages-lollipop-mobile-min.png');
}
.advantages__count {
    font-family: var(--title-ff);
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 4px;

    color: var(--title-color);
    display: block;

    @include tablet {
        margin-bottom: 13px;
        font-size: 48px;
        line-height: 1.15;
    }

    @include desktop {
        margin-bottom: 16px;
        font-size: 58px;
        line-height: 1.14;
    }
}

.advantages__text {
    font-family: var(--standard-ff);

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.66;
    color: var(--text-color);

    width: 230px;

    @include tablet {
        width: 180px;
        font-size: 14px;
        line-height: 1.70;
    }

    @include desktop {
        width: 288px;
        font-size: 16px;
        line-height: 1.75;
    }
}
