<header class="header">
    <div class="container">
        <nav class="nav">
            <a href="" class="logo__link">
                <svg class="logo__icon" width="199" height="50">
                    <use href="/src/images/icons.svg#icon-logo"></use>
                </svg>
            </a>
            <div class="menu">
                <ul class="menu__list">
                    <li class="menu__item"><a href="" class="menu__link">Home</a></li>
                    <li class="menu__item"><a href="" class="menu__link">About us</a></li>
                    <li class="menu__item"><a href="" class="menu__link">How it’s made?</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Our products</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Contact</a></li>
                </ul>
            </div>
            <button class="menu-toggle open-tab js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                <svg class="menu-open-icon" width="20" height="12">
                    <use href="/src/images/icons.svg#icon-menu"></use>
                </svg>
            </button>
            <button class="menu-btn menu-btn--desk">
                <span class="menu-btn__text">Buy now</span>
                <svg class="menu-btn__icon">
                    <use href="/src/images/icons.svg#icon-more"></use>
                </svg>
            </button>
        </nav>
        <div class="hero">
            <div class="hero-basic">
                <h1 class="header__title">Ice cream made with <span class="header__title--big">passion</span></h1>
                <button class="header-btn__prod">Products</button>
                <button class="header-btn__about">How it's made</button>
            </div>
            <ul class="hero-stat">
                <li class="hero-stat__item">
                    <p class="hero-stat__amount">16</p>
                    <p class="hero-stat__label">cafes</p>
                </li>
                <li class="hero-stat__item">
                    <p class="hero-stat__amount">23</p>
                    <p class="hero-stat__label">food trucks</p>
                </li>
            </ul>
        </div>
        <div class="details">
            <p class="details__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button type="button" class="details__btn"></button>
        </div>
    </div>
</header>
<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle close-tab js-close-menu">
        <svg class="menu-close-icon" width="14" height="14">
            <use href="/src/images/icons.svg#icon-close"></use>
        </svg>
    </button>
    <button class="menu-btn menu-btn--mob">
        <span class="menu-btn__text">Buy now</span>
        <svg class="menu-btn__icon">
            <use href="/src/images/icons.svg#icon-more"></use>
        </svg>
    </button>
    <ul class="menu__list">
        <li class="menu__item"><a href="" class="menu__link">Home</a></li>
        <li class="menu__item"><a href="" class="menu__link">About us</a></li>
        <li class="menu__item"><a href="" class="menu__link">How it’s made?</a></li>
        <li class="menu__item"><a href="" class="menu__link">Our products</a></li>
        <li class="menu__item"><a href="" class="menu__link">Contact</a></li>
    </ul>
</div>