<section class="advantages">
    <div class="container">
        <ul class="advantages__list">
            <li class="advantages__item">
                <svg class="advantages__icon" width="33" height="50">
                    <use href="./icons.svg#icon-milk"></use>
                </svg>
                <span class="advantages__item-count">721</span>
                <p class="advantages__item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <svg class="advantages__icon" width="33" height="50">
                    <use href="./icons.svg#icon-apples"></use>
                </svg>
                <span class="advantages__item-count">16kg</span>
                <p class="advantages__item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <svg class="advantages__icon" width="33" height="50">
                    <use href="./icons.svg#icon-ice-cream"></use>
                </svg>
                <span class="advantages__item-count">84</span>
                <p class="advantages__item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>