<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__category-repr">Cafe</p>
        <p class="contacts__town">Chicago</p>
        <p class="contacts_town-subtitle">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contacts__work-schedule">
          <li class="contacts__working-days">
            <p class="contacts__days-time">Monday - Friday</p>
            <p class="contacts__days-time contacts__days-time--color">
              06:00 AM - 10:00 PM
            </p>
          </li>
          <li class="contacts__weekend">
            <p class="contacts__days-time">Saturday - Sunday</p>
            <p class="contacts__days-time contacts__days-time--color">
              08:00 AM - 16:00 PM
            </p>
          </li>
        </ul>
        <div class="contacts__communication">
          <a class="contacts__tel-email" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__tel-email" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__category-repr contacts__category-repr--color">
          Food Truck
        </p>
        <p class="contacts__town">Los Angeles</p>
        <p class="contacts_town-subtitle">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contacts__work-schedule">
          <li class="contacts__working-days">
            <p class="contacts__days-time">Monday - Friday</p>
            <p class="contacts__days-time contacts__days-time--color">
              06:00 AM - 10:00 PM
            </p>
          </li>
          <li class="contacts__weekend">
            <p class="contacts__days-time">Saturday - Sunday</p>
            <p class="contacts__days-time contacts__days-time--color">
              08:00 AM - 16:00 PM
            </p>
          </li>
        </ul>
        <div class="contacts__communication">
          <a class="contacts__tel-email" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__tel-email" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__category-repr">Cafe</p>
        <p class="contacts__town">New York</p>
        <p class="contacts_town-subtitle">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contacts__work-schedule">
          <li class="contacts__working-days">
            <p class="contacts__days-time">Monday - Friday</p>
            <p class="contacts__days-time contacts__days-time--color">
              06:00 AM - 10:00 PM
            </p>
          </li>
          <li class="contacts__weekend">
            <p class="contacts__days-time">Saturday - Sunday</p>
            <p class="contacts__days-time contacts__days-time--color">
              08:00 AM - 16:00 PM
            </p>
          </li>
        </ul>
        <div class="contacts__communication">
          <a class="contacts__tel-email" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__tel-email" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="contacts__modal-btn">
      <button class="contacts__btn-locations" type="button" data-location-modal-open>
        Our Locations
        <svg class="contacts__more" width="8" height="10">
          <use href="./images/icons.svg#icon-more-white"></use>
        </svg>
      </button>
      <button class="contacts__btn-franchise" type="button" data-franchise-modal-open>
        Franchise
        <svg class="contacts__more" width="8" height="10">
          <use href="./images/icons.svg#icon-more"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<div class="backdrop is-hidden" data-location-modal>
  <div class="modal">
    <button type="button" class="close-btn" data-location-modal-close>
      <svg class="buy-close-icon" height="20" width="20">
        <use href="./images/icons.svg#icon-close-modal"></use>
      </svg>
    </button>
    <p class="modal__title">Our biggest cafe location</p>
    <iframe class="location__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5698.196710384923!2d-73.94699186187162!3d40.838628872128595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f69c56373bcb%3A0x1e7573510a4a0504!2z0JLQsNGI0LjQvdCz0YLQvtC9LdCl0LDQudGC0YEsINCd0YzRji3QmdC-0YDQuiwg0KHQqNCQ!5e0!3m2!1sru!2sua!4v1658254241786!5m2!1sru!2sua"
      allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p class="location__town">New York</p>
    <p class="location__subtitle">Washington Heights</p>
  </div>
</div>


<div class="backdrop is-hidden" data-franchise-modal>
  <div class="modal">
    <button type="button" class="close-btn" data-franchise-modal-close>
      <svg class="buy-close-icon" height="20" width="20">
        <use href="./images/icons.svg#icon-close-modal"></use>
      </svg>
    </button>
    <p class="modal__title">Join the Ice Cream family</p>
    <form class="modal__form form">
      <div class="form__name">
        <label for="name" class="form__label"> Please write your name </label>
        <div class="input">
          <input type="text" name="user-name" id="name" class="input__field" required />
          <svg width="16" height="16" class="icon modal__icon">
            <use href="/src/images/icons.svg#icon-user"></use>
          </svg>
        </div>
      </div>
      <div class="form__phone">
        <label for="tel" class="form__label"> ...and your phone number </label>
        <div class="input">
          <input type="tel" name="tel" id="tel" class="input__field" required />
          <svg width="16" height="16" class="icon modal__icon">
            <use href="/src/images/icons.svg#icon-mobile"></use>
          </svg>
        </div>
      </div>
      <div class="form__order">
        <label for="order" class="form__label"> Leave a comment </label>
        <div class="input">
          <input type="order" name="order" id="order" class="input__field" required />
          <svg width="16" height="16" class="icon modal__icon">
            <use href="/src/images/icons.svg#icon-bubble2"></use>
          </svg>
        </div>
      </div>
      <button type="submit" class="send-btn"> Send </button>
    </form>
  </div>
</div>
