<section class="about">
    <div class="container">
        <p class="about__label-title">tradition and love</p>
        <h2 class="about__title">how it's made?</h2>
        <div class="about__img-wrapper"></div>
        <div class="about__text-wrapper">
            <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
            <p class="about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
            <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
            <button class="about__button">Read more</button>
        </div>
        <div class="about__contain">
            <ul class="about__contain-list">
                <li class="about__contain-item">
                    <svg class="about__milk-icon">
                        <use href="#"></use>
                    </svg>
                    <P class="about__quantity">721</P>
                    <P class="about__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</P>
                </li>
                <li class="about__contain-item">
                    <svg class="about__fruit-icon">
                        <use href="#"></use>
                    </svg>
                    <P class="about__quantity">16kg</P>
                    <P class="about__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</P>
                </li>
                <li class="about__contain-item">
                    <svg class="about__ice-craem-icon">
                        <use><use href="#"></use></use>
                    </svg>
                    <P class="about__quantity">84</P>
                    <P class="about__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</P>
                </li>
            </ul>
        </div>
    </div>
</section>
